body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.create-btn {
  margin-bottom: 1rem;
}
.pagination {
  justify-content: center;
}
.sidebar {
  margin-bottom: 1rem;
}
.control-element {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}
.card-margin {
  margin-bottom: 1rem;
}
.tag-margin {
  margin-bottom: 1rem;
}